.js-menu {
    display:none;
    top: 80px;
    position: absolute;
    right: 0;
    background: #fff;
    left:0;
}

.upperCase {
    text-transform: uppercase;
}

.js-menu li {
    padding-bottom: 10px;
    padding-top: 10px;
}

.js-menu a {
    color: #323232;
    text-decoration: none;
    font-size: 22px;
}

.expanded {
    display: initial;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 999;
}