

* {
    box-sizing: border-box;
  }
  
.myAccountAll {
    font-family: 'Catamaran', sans-serif;
    scroll-behavior: smooth;
  }

 .myAccount{
      background-color: #f8c512;
      padding-bottom: 5%;
    }

    .Marks {
        background-color:  #EAEDEA;
        padding-top: 3%;
        padding-bottom: 3%;
    }

    .titleMyAccount {
        color: white;
        font-size: 20px;
        font-weight: bolder;
        text-transform: uppercase;
        padding-left: 5%;
        padding-top: 5%;
        padding-bottom: 5%;
    }

     .myPhoto {
        width: 120px;
        margin-left: 5%;
        background: white;
        float: left;
        
    }

   .companyName{
       text-transform: uppercase;
       font-size: 20px;
       font-weight: bold;
       padding-left: 32%;
       padding-bottom: 3%;
       
   }

   span{
       color: white;
       text-transform: uppercase;
       font-size:17px;
       font-weight: bold;
   }

   .information{
       color: black;
       text-transform: uppercase;
       font-size:15px;
       font-weight: bold;
       padding-left: 32%;
       padding-top:1%;
   }

   .mark{
       padding-left: 5%;
       text-transform: uppercase;
       font-weight: bold;
       font-size: 20px;
   }

  .star{
      padding-right: 10%;
  }
   
  h2{
    text-transform: uppercase;
    font-weight: bold;
    font-size: 20px;
    padding-bottom: 3%;
    padding-top: 5%;

  }


  h3{
      color:  #f8c512;
      padding-top:3%;
      padding-bottom: 2%;
      font-weight: bold;
      text-transform: uppercase;
      font-size: 17px;
  }

.opinions{
    padding-left: 5%;
    padding-right: 5%;
}

.secund{
    
        background-color: #EBEBEB;
        height: 1px;
        color: #EBEBEB;
        border: 0px;
        padding-left: 5%;
    padding-right: 5%;
}

p{
    padding-top: 3%;
    padding-bottom: 3%;
}

.markStars{
    padding-left: 20%;
}