.Main-Container {
    width: 100%;
 
    margin: 0 auto;
}

.logo {
    margin: 20px;
    width: 200px;
}

.hero-image {
    background: linear-gradient(#f8c512, #edb60d);
    /* height: auto; */
    text-align: left;
    padding: 150px 15px 15px 15px;
    height: 100vh;
}

.white-text {
    color: #fff;
}

.margin-bottom {
    margin-bottom: 80px;
}

.first-claim {
    font-size: 30px;
    font-weight: 800;
    color: #fff;
    margin: 40px 20px 20px 0px;
}

.second-claim {
    font-size: 30px;
    font-weight: 900;
    color: #323232;
    margin: 0px 20px 40px 0px;
}

.upperCase {
    text-transform: uppercase;
}

.title-hero-image {
    font-size: 25px;
    font-weight: 500;
    line-height: 35px;
}