.js-toggler{
    width: 30px;
    border:none;
    margin-right: 20px;
    margin-top: 25px;
    cursor: pointer;
}

.menu {
    height: 80px;
    background: #fff;
    position:fixed;
    width:100%;
    display:flex;
    justify-content: space-between;
    z-index: 999;
}